:root{
    --columns: 5;
    --rows: 6;
}

body{
    margin: 0px;
}

.wrapper{
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: repeat(var(--columns), 1fr);
    grid-template-rows: repeat(var(--rows), 1fr);
}

.sidebar{
    display: flex;
    flex-direction: column;
    background-color: #0ea5e9;
    color: #ecfeff;
    font-weight: bold;
    font-family: "Helvetica", "Arial", sans-serif;
    grid-row: 1 / 7;
    grid-column: 1;
    padding: 20px;
    gap: 15px;
}

.sidebar-container{
    display: flex;
    align-items: center;
    gap: 15px;
}

.sidebar-img{
    width: 20px;
    height: auto;
    filter: brightness(0) invert(1); /* turns svg white by inverting colors */
}

.sidebar-item:hover{
    text-decoration: underline;
}


.main{
    grid-row: 1 / 7;
    grid-column: 2;
}

.main-content{
    grid-area: 2 / 2 / calc(var(--rows) + 1) / calc(var(--columns) + 1);
}

.heading{
    grid-area: 1 / 2 / 2 / calc(var(--columns) + 1);
}

form{
    display: inline;
}

input[type="text"] {
    background-color: rgb(209, 207, 207);
    border: 1px solid #ccc; /* Light gray border */
    border-radius: 50px; /* Rounded edges for oval shape */
    padding: 10px 20px; /* Adjust padding for size */
    width: 50%; /* Set a width to make it long */
    font-size: 16px; /* Font size */
    outline: none; /* Remove default outline */
}

.heading-img{
    height: 30px;
    width: auto;
    transform: translateY(10px);
}

.heading-search-container{
    
}

.profile-img{
    height: 50px;
    width: auto;
    border-radius: 50%; /* Makes the image circular */
    object-fit: cover;
    
}

.heading-intro-container > .profile-img{
        height: 70px;
        width: auto;
        border-radius: 50%; /* Makes the image circular */
        object-fit: cover;
}

.intro-text{
    display: flex;
    flex-direction: column;

}

.heading-intro-container{
    display: flex;
}

.text{
    margin: 0px;
    margin-top: 8px;
    margin-left: 10px;
    margin-bottom: 0px;
    font-weight: bold;
    font-family: "Helvetica", "Arial", sans-serif;
}

.button-container{

}

.buttons{
    margin-right: 20px;
    margin-top: 15px;
    border-radius: 20px;
    height: 40px;
    width: 150px;
    font-family: "Helvetica", "Arial", sans-serif;
    color: white;
    font-weight: bold;
    font-size: 11px;
    background-color:#20a4e2;
    border: 0px;
}

.main-content{
    background: linear-gradient(to top, #efeff0 99%, #afafb0 100%);
}

.main-content-text-container{
    display: flex;
    justify-content: space-between;
    
}

.second-box-container{
    display: flex;
    height: 100%;
}

.project-grid{
    display: grid;
    height: 100%;
    width: 70%;
    grid-template-columns:  repeat(2, 1fr);
    grid-template-rows:  repeat(3, 1fr);
    gap: 10px;
}

.project{
    background-color: white;
    border-radius: 10px;
}

.notification-flex{
    height: 100%;
    width: 30%;
    display: flex;
    flex-direction: column;
}

.announcement{
    margin-left: 20px;
    background-color: white;
    width: 200px;
    margin-bottom: 20px;
    border-radius: 10px;
    height: 180px;
}

.structure{
    
}

